body {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1, .h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0 0 32px;
  @media (min-width: $screen-sm-min) {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.1em;
    margin: 0 0 64px;
  }
}

h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 32px 0;
  color: $brand-primary;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

p.lead {
  font-size: 24px;
  line-height: 36px;
  margin: 32px 0;
}

p {
  margin: 32px 0;
}

section p + p {
  margin-top: 0;
  text-indent: 1.5em;
}

section p + ul,
section p + ol {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @include placeholder();
}
